[submodule "cpp/andromeda/external/glfw"]
	path = cpp/andromeda/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "cpp/andromeda/external/imgui/imgui"]
	path = cpp/andromeda/external/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "cpp/andromeda/external/glm"]
	path = cpp/andromeda/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "cpp/andromeda/external/spdlog"]
	path = cpp/andromeda/external/spdlog
	url = https://github.com/gabime/spdlog.git
